/* sets the headline formatting and makes the headline navy + large*/
h1 {
    color: navy;
    font-size: 2em;
}

/* sets the body formatting so that it takes up half the page in the middle */
body {
    width: 50%;
    margin: auto;
}

/* makes the intro navy */
#intro {
    color: navy;
}

/* selects the default font for the byline and provides alternate fonts in case the first is not available*/
#byline {
    font-family: 'Franklin Gothic Medium', 'Arian Narrow', 'Arial', 'sans-serif';
}

/* makes the caption small */
.caption {
    font-size: 0.5em;
}

/* 
byline {
    can have byline tag instead of using div and then just do the style stuff here instead 
    maybe put initials before tag in case you combine code with someone and they also have a byline tag 
} */

/* 
tagline {
    
}
*/

/*
p.story {

}
*/

/* used for class purposes
div {
    border: solid 1px gray;
}
    */

/* for phones */
@media (orientation: portrait) {
    body {
        width: 95%;
        font-size: 2em
    }
}